.faq {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 10rem 0;

    &__items {
        display: flex;
        flex-direction: column;
        margin: 5rem 0;
    }

    &__item-container {
        font-size: 2rem;
        border-top: 1px solid var(--color-light-gray);
        padding: 2rem 1rem;
    }

    &__item-container--last {
        border-bottom: 1px solid var(--color-light-gray);
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
    }

    &__item-bottom {
        font-size: 1.6rem;
        line-height: normal;
        color: var(--color-gray);
    }
}