.product-page {
    &__breadcrumbs-container {
        margin-top: 5rem;
    }

    &__reviews {
        margin-top: 5rem;
    }

    &__you-might-need-products {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}