.store {
    &__breadcrumbs-container {
        margin-top: 5rem;
    }

    &__category-cards-container {
        margin-top: 5rem;
    }

    &__product-cards-container {
        margin-top: 5rem;
    }

    &__promotional-banners {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}