:root {
    --color-primary: #FFFFFF;
    --color-secondary: #FFCE3A;
    --color-black: #000000;
    --color-black-header: #1B1E1F;
    --color-gray: #879095;
    --color-dark-gray: #353B3E;
    --color-light-gray: #CFD7DC;
    --color-gray-stroke: #979797;
    --color-red: #ff0000;
    --width-1280: 1280;
    --width-1180: 1180;
}