.contact-form {
    display: flex;
    flex-direction: column;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        margin-top: 6rem;
    }

    &__header {
        font-size: 2rem;
    }

    &__input {
        margin-top: 2rem;
    }

    &__leave-message-container {
        display: flex;
        flex-direction: column;
    }

    &__contacts-container {
        display: flex;
        flex-direction: column;
    }

    &__image-container {
        width: 10rem;
        margin-top: 2rem;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__contact-person {
        color: var(--color-dark-gray);
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    &__contact-info {
        color: var(--color-dark-gray);
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    &__phone-number-link {
        color: var(--color-secondary);
    }

    &__phone-number {
        display: inline;
    }

    &__email-link {
        color: var(--color-secondary);
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    &__submit-btn {
        width: 100%;
        max-width: none;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .contact-form {

        &__content {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }
    }
}